.color-37863D {
    color: #37863D;
}

.color-fff {
    color: #fff !important;
}

.img-cover {
    object-fit: cover;
}

.color-113E2C {
    color: #113E2C;
}

.bold {
    font-weight: bold;
}

.f-1 {
    font-size: 1rem !important;
}

.f-2 {
    font-size: 2rem !important;
}

.f-3 {
    font-size: 3rem;
}

.f-4 {
    font-size: 4rem;
}

@media (min-width: 1170px) {
    #content1 {
        display: block;
    }

    #content1_mobile {
        display: none;
    }
}

@media (max-width: 1170px) {
    #content1 {
        display: none;
    }

    #content1_mobile {
        display: block;
    }
}

#content2 {
    background-image: url('../images/bg2.jpg');
    color: #fff;
    padding: 8rem 5rem;
    background-size: contain;
}

#content2 h1 {
    width: 70%;
}



#content3 {
    background: #E9E8E2;
    padding: 10rem 5rem;
}

#content3 .card {
    border-radius: 30px;
    padding: 2rem;
}

#content3 img {
    border-radius: 30px;
}

#content3 h1 {
    width: 50%;
}

#content3 h4 {
    color: #113E2C;
}

#content3 h3 {
    font-weight: bold;
    color: #37863D;
}

#content4 {
    background-color: #FFFEF4;
    height: 1627px;
    padding: 5rem;
}

#content4 .main-title {
    margin: auto;
    text-align: center;
    width: 70%;
    /* padding-top: 5rem; */
    color: #14402f;
}

#content4 .main-description {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #14402f;
    padding-top: 2rem;
}



#content4 .des-text-box .card {
    height: 100%;
    border-radius: 1.3rem !important;
}

#content4 .card-body .card-text-color {
    color: #a5ee7e;
    text-transform: capitalize;
}

#content4 .card-body .card-text {
    color: #fffef4;
}

#content4 img {
    border-radius: 30px;
    object-fit: cover;
}

#content5 {
    background-image: url('../images/bg5.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

#content5 form {
    width: 100%;
    padding: 5rem 6rem 5rem 2rem;
}

#content5 .form-contact {
    max-width: 80%;
    margin: auto;
    background-color: #14402f;
    border-radius: 3rem;
    margin-top: 12%;
}

#content5 .content5_1 {
    padding: 5rem;
}



#checkbox {
    border-radius: 2rem !important;
    width: 3rem !important;
    margin-right: 1rem ;
    height: 3rem;
}

.input-text {
    width: 100%;
    height: 2rem;
    padding: 1.5rem 1.5rem;
    margin: 1rem 0;
}

#content5 button {
    width: 10rem;
    border-radius: 2rem;
    border: 2px solid #fff;
    background: none;
    color: #fff;
}

@media (max-width: 1170px) {
    #content2 {
        padding: 0;
    }

    #content2 h1 {
        width: 100%;
    }

    #content3 {
        padding: 0 !important;
    }

    #content4 {
        padding: 0 !important;
        padding-top: 2rem;
    }

    #content4 h1 {
        font-size: 3rem !important;
    }

    #content4 h2 {
        font-size: 2rem !important;
    }

    #content4_2 {
        display: none;
    }

    #content3 h1 {
        width: 100% !important;
        font-size: 2rem !important;
        margin-top: 2rem;
    }

    #content5 .form-contact {


        background: none;
        border-radius: 3rem;

    }

    #content5 .content5_1 {
        padding: 0;
    }

    #content5 form {
        padding: 0;
    }
    #logoMoney{
        display: none;
    }

}