@media (min-width: 1170px) {
    #content1 {
        display: block;
    }

    #content1_mobile {
        display: none;
    }
}

@media (max-width: 1170px) {
    #content1 {
        display: none;
    }

    #content1_mobile {
        display: block;
    }
}
